table.ss-gridfield {
	box-shadow: none;		
	padding: 0;
	margin: 20px 0 0 0;
	border-collapse: separate;	
	border-bottom: 0 none;
	border-left: 1px solid #929292;
	border-right: 1px solid #929292;
}
.ss-gridfield thead th {
	background: #424242;
	padding: 5px;
	font-weight: bold;
	text-align: left;
}

.ss-gridfield thead th.extra  {
	padding: 0 0 2px 5px;
}

.ss-gridfield thead th.extra input.ss-gridfield-sort.text {
	width: 100px;
	font-size: 10px;
	padding: 1px;
	margin-bottom: 5px;
	height: 15px;
	background: #fff;
}

.ss-gridfield thead th.extra.last div{
	display:inline-block;
	
}

.ss-gridfield thead th button {
	color: #eee;
	border: none;
	background: none;
	margin: 0 0 0 2px;
	padding: 0;
	width: auto;
	text-shadow: none;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.ss-gridfield thead th.extra.last button {
	margin-left: 10px;
	position: relative;
	top: -10px;
}

.ss-gridfield tbody td {
	border-bottom: 1px solid #929292;
	border-right: 1px solid #929292;
	padding: 5px;
}

.ss-gridfield tbody td:last-child {
	border-right:0;
}

.ss-gridfield tbody tr.odd td {
	background: #f7f7f7;
	color: #000;
}

.ss-gridfield tbody td.first {
	border-left: 1px solid #929292;
}

.ss-gridfield tfoot .bottom-all {
	text-align: center;
	background: #424242;
	color: #fff;
	padding: 5px;
}

#action_filter, #action_reset {
	background: #fff;
	color: #444;
	padding: 2px;
	margin-top: 10px;
}
